h1{
  color:blue;
}
  body{background-color:pink;
}
p{
  color:blue;
  font: oblique bold 120% cursive;
  font-size:25
}
img.img-peque{
   width:150px;
   height:145px;
}
p.Parrafito{
  color:red;
}
img.img-calsonic_r32{
   border-radius: 50%
}
th.pasatiempos{
  font: oblique bold 120% cursive;
}